@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Righteous&family=Roboto:wght@300&display=swap');

:root{
	--theme: #00517C;
	--background: #002;
	--background-hover: #004;
	--text-color-background: #fff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	background: #abc;
	font-size: clamp(18px,1.25rem,22px);
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', sans-serif;
	font-family: 'Roboto', sans-serif;
}
header{
	background: var(--background);
	color: var(--text-color-background);
	padding: 25px 0;
}
.wrapper{
	width: min(100%,1000px);
	margin: 0 auto;
	padding: 0 20px;
}
.div_title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: min(100%,500px);
	padding: 0 20px;
}
form{
	padding: 30px;
	width: 100%;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,1),
				inset -1px -1px 5px rgba(255,255,255,.2); 
}
form h2{
	padding-bottom: 15px;
	text-align: center;
}
form section div{
	width: 100%;
	margin-bottom: .7em;
}
form section div input{
	padding: 20px;
	width: 100%;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: clamp(13px,2rem,15px);
}
button{
	width: 100%;
	padding: 15px 0;
	border: none;
	outline: none;
	background: var(--background);
	color: var(--text-color-background);
	font-size: clamp(16px,2rem,20px);
	font-weight: bold;
	transition: all .2s;
}
button:hover{
	background: var(--background-hover);
}
button:active{
	transform: scale(.9);
}
a{
	color: var(--text-color-background);
}