@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Righteous&family=Roboto:wght@300&display=swap');

:root{
	--theme: #00517C;
	--background: #002;
	--background-hover: #004;
	--text-color-background: #fff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	background: #abc;
	font-size: clamp(18px,1.25rem,22px);
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', sans-serif;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 50px;
}
.main_bg{
	overflow: auto;
}
header{
	background: var(--background);
	color: var(--text-color-background);
	padding: 25px 0;
	width: 100%;
}
.wrapper{
	width: min(100%,1000px);
	margin: 0 auto;
	padding: 0 20px;
}
a{
	color: var(--text-color-background);
}
section:not(.div_title){
	overflow-x: scroll;	
	padding: 20px 0;
}
table{
	color: var(--text-color-background);
	width: min(100%,1000px);
	padding: 20px;
	background: teal;
}
table tr{
	width: 100%;
	padding: 10px;
	background: orange;
}
h3{
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 2rem;
}
table td{
	text-align: center;
	padding: 30px;
	font-weight: bold;
	background: var(--background);
}
button{
	/* display: block;	 */
	background: var(--background);
	padding: 20px 50px;
	margin-top: 1em;
	color: var(--text-color-background);
	font-size: clamp(18px,1.25rem,22px);
	border: none;
	outline: none;
	cursor: pointer;
}
@media print {
	body{
		color: #000;
	}
	table{
		color: #000;
		background: #000;
	}
	table td{
		background: #000;
	}
}